$sp:480px;
@mixin sp {
    @media (max-width: ($sp)) {
    @content;
    }
}

body{
    background-color: rgba(4, 118, 42, 0.953);
    margin: 5%;
    -webkit-appearance: none;
}
p{
    margin: 0;
}
.none{
    display: none;
}
.box-1{
        h1{
            display: flex;
            justify-content: center;
            color: rgb(0, 0, 0);
        }
        .got{
            background-color: rgba(204, 119, 119, 0.679);
            border: 1px solid;
            font-size: 40px;
            border-radius: 15%;
            color: black;
            margin: 20px;
        }
        .read{
            background-color: rgba(204, 119, 119, 0.679);
            border: 1px solid;
            font-size: 20px;
            border-radius: 15%;
            color: black;
        }
        .rule{
            width: 700px;
            background-color: rgb(250, 243, 243);
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            p{
                font-size: 25px;
                color: black;
                display: flex;
                justify-content: center;
            }
        }
        .result{
            display: flex;
            justify-content: center;
            padding: 20px;
            font-size: 45px;
            color: rgb(200, 255, 0);
            text-align: center;
        }
        .dealer-box{
            .dealer{
                font-size: 35px;
                color: #fff;
                font-style: italic;
                display: inline-block;
            }
            p{
                display: flex;
                justify-content: center;
                color: #fff;
                font-size: 30px;
                padding: 10px;
            }
        }
        .player-box{
            .player{
                font-size: 35px;
                color: #fff;
                font-style: italic;
                display: inline-block;
            }
            p{
                display: flex;
                justify-content: center;
                color: #fff;
                font-size: 30px;
                padding: 10px;
            }
        }
        .button-box{
            width: 50%;
            text-align: center;
            display: flex;
            justify-content: space-around;
            margin: 0 auto;
        }
        .start,.hit,.stand{
            background-color: rgba(204, 119, 119, 0.679);
            border: 1px solid;
            font-size: 40px;
            border-radius: 15%;
            color: black;
        }
        .start:hover{
            opacity: 0.6;
        }
        .hit:hover{
            opacity: 0.6;
        }
        .stand:hover{
            opacity: 0.6;
        }
}
.box-1{
    @include sp{
        h1{
            display: flex;
            justify-content: center;
            color: rgb(0, 0, 0);

        }
        .got{
            background-color: rgba(204, 119, 119, 0.679);
            border: 1px solid;
            font-size: 30px;
            border-radius: 15%;
            color: black;
            margin: 20px;
        }
        .read{
            background-color: rgba(204, 119, 119, 0.679);
            border: 1px solid;
            font-size: 15px;
            border-radius: 15%;
            color: black;
        }
        .rule{
            width: 300px;
            background-color: rgb(250, 243, 243);
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            p{
                font-size: 27px;
                color: black;
                display: flex;
                justify-content: center;
            }
        }
        .result{
            display: flex;
            justify-content: center;
            padding: 20px;
            font-size: 30px;
            color: rgb(200, 255, 0);
            text-align: center;
        }
        .dealer-box{
            .dealer{
                font-size: 20px;
                color: #fff;
                font-style: italic;
                display: inline-block;
            }
            p{
                display: flex;
                justify-content: center;
                color: #fff;
                font-size: 25px;
                padding: 10px;
            }
        }
        .player-box{
            .player{
                font-size: 20px;
                color: #fff;
                font-style: italic;
                display: inline-block;
            }
            p{
                display: flex;
                justify-content: center;
                color: #fff;
                font-size: 25px;
                padding: 10px;
            }
        }
        .button-box{
            width: 50%;
            text-align: center;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            gap: 20px;
            margin: 0 auto;
        }
        .start,.hit,.stand{
            background-color: rgba(204, 119, 119, 0.679);
            border: 1px solid;
            font-size: 30px;
            border-radius: 15%;
            color: black;
        }
        .start:hover{
            opacity: 0.6;
        }
        .hit:hover{
            opacity: 0.6;
        }
        .stand:hover{
            opacity: 0.6;
        }
    }
}